body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: #ff3b3b;
    color: white;
    padding: 15px;
}

.hero {
    padding: 50px;
    background: #ffe5e5;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

.menu {
    padding: 20px;
}

.item {
    font-size: 20px;
    margin: 10px;
}